body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container p {
  width: 100%;
  text-align: center;
  font-size: 32px;
  animation: color-change 3s infinite alternate;
}

button {
  border: none;
  border-radius: 4px;
  font-size: 24px;
  padding: 8px 16px;
}

button:focus {
  outline: 0 none;

  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.4);
}

@keyframes color-change {
  0% {
    color: #ffffff;
  }

  20% {
    color: #cccccc;
  }

  40% {
    color: #999999;
  }

  60% {
    color: #666666;
  }

  80% {
    color: #333333;
  }

  100% {
    color: #ffffff;
  }
}
